@model FacultyMVC.ViewModels.EnrollmentFilterViewModel

<h2>Enrollments</h2>

<form asp-controller="Enrollments" asp-action="Index" method="get">
    <p>
        Course: <input type="text" asp-for="EnrollmentCourse" />
        <select asp-for="EnrollmentSemester" asp-items="Model.Semesters">
            <option value="">SEMESTER</option>
        </select>
        <select asp-for="EnrollmentYear" asp-items="Model.Years.Reverse()">
            <option value="">YEAR</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Student.Index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enrollments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                |<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-action="EditByAdmin" asp-route-id="@item.Id">Edit</a>|
            </td>
        </tr>
        }
    </tbody>
</table>
